* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
   
}

@font-face {
    font-family: 'SanFrancisco';
    src:url('path/to/SanFrancisco-Regular.woff2') format('woff2');
    /* Add additional font formats and styles as needed */
   }
body {
    font-family: 'SanFrancisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    

.Video-container {
    position: relative;
    width: 100%;
    height: 100%;
  
}

#video-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}




@media only screen and (max-width: 600px) {
    *{
        color: #fff;
    }
    .Video-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    #video-background {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: contain;
    }
    .container {
        /* display: none; */
        /* min-width: 200px; */
        padding: 10px;
        height: 80px;
        position: absolute;
        background: #9F365D;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 31.8px;
        font-weight: 500;
    }
   .hero .clock{
        min-width: 250px;
        /* height: 100%; */
        background: #9F365D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .day{
        min-width: 250px;
        /* height: 100%; */
        background: #9F365D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 9px;
        /* padding-top: 5px; */
    }
}

